<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='Add Usuario')"></head>

<body>
	<header th:insert="fragments/parts::barra"></header>
	<div class="container mt-5">
		<h1 class="text-center mt-3">Añadir usuario</h1>

		<div class="col-6 mx-auto">
			<div class="alert alert-danger alert-dismissable" th:if="${success != null}">
				<label th:text="${success}"></label>
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			<form th:action="@{/usuarios/addUsuario}" method="post" th:object="${usuarioDTO}">
				<label for="nombre" class="form-label mt-3">Nombre</label>
				<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>

				<label for="apellido1" class="form-label mt-3">Primer apellido</label>
				<input type="text" class="form-control" id="apellido1" name="apellido1" th:field="*{apellido1}"
					required>

				<label for="apellido2" class="form-label mt-3">Segundo apellido</label>
				<input type="text" class="form-control" id="apellido2" name="apellido2" th:field="*{apellido2}"
					required>

				<label for="username" class="form-label mt-3">Usuario</label>
				<input type="text" class="form-control" id="username" name="username" th:field="*{username}" required>
				<h6 class="text-danger" th:if="${errorUsername!=null}" th:text="${'Usuario no disponible.'}"></h6>

				<label for="password" class="form-label mt-3">Contraseña</label>
				<input type="password" class="form-control" id="password" name="password" th:field="*{password}"
					required>
				<h6 class="text-danger" th:if="${errorPassword!=null}"
					th:text="${'La contraseña tiene que tener mínimo 5 caracteres.'}"></h6>

				<label for="email" class="form-label mt-3">Email</label>
				<input type="email" class="form-control" id="email" name="email" th:field="*{email}" required>
				<h6 class="text-danger" th:if="${errorEmail!=null}" th:text="${'Este email ya esta registrado.'}"></h6>

				<label for="role" class="form-label mt-3">Role</label>
				<select class="form-select" id="role" name="role" th:field="*{role}">
					<option value="ROLE_USER">ROLE_USER</option>
					<option value="ROLE_ADMIN">ROLE_ADMIN</option>
				</select>

				<label for="nif" class="form-label mt-3">DNI</label>
				<input type="text" pattern="[0-9]{8}[A-Za-z]{1}" title="Debe poner 8 números y una letra"
					class="form-control" id="nif" name="nif" th:field="*{nif}" required>
				<h6 class="text-danger" th:if="${errorDNI!=null}" th:text="${'Ya existe una cuenta con este DNI.'}">
				</h6>

				<label for="localidad" class="form-label mt-3">Localidad</label>
				<input type="text" class="form-control" id="localidad" name="localidad" th:field="*{localidad}"
					required>

				<label for="provincia" class="form-label mt-3">Provincia</label>
				<input type="text" class="form-control" id="provincia" name="provincia" th:field="*{provincia}"
					required>

				<label for="telefono" class="form-label mt-3">Telefono</label>
				<input type="tel" pattern="[0-9]{9}" title="Debe poner 9 digitos" class="form-control" id="telefono"
					name="telefono" th:field="*{telefono}" required>

				<label for="sexo" class="form-label mt-3">Sexo</label>
				<select class="form-select" id="sexo" name="sexo" th:field="*{sexo}">
					<option value="Hombre">Hombre</option>
					<option value="Mujer">Mujer</option>
				</select>

				<label for="fecha_nacimiento" class="form-label mt-3">Fecha de nacimiento</label>
				<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"
					th:field="*{fecha_nacimiento}" required>




				<input type="submit" class="btn btn-primary w-100 mt-3" value="AÑADIR" />
			</form>
		</div>
	</div>
	<br>
	<br>
	<footer th:insert="fragments/parts::pie"></footer>
</body>

</html>