<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<div th:replace="fragments/bootstrap::head2(title='Reservas de usuario')" />
	<link rel="stylesheet" type="text/css" href="static/css/misReservas.css" th:href="@{/css/misReservas.css}" />
	<script src="/js/dataTableRolUser.js" th:href="@{/js/dataTableRolUser.js}" defer></script>
	<script src="/js/reservas.js" th:href="@{/js/reservas.js}" defer></script>
</head>

<body>
	<header th:insert="fragments/parts::barra2"></header>
	<div class="mx-auto col-11">
		<div class="title">
			<h1>
				Reservas<span th:text="'@'+${usuario.getUsername()}"></span>
			</h1>

			<table id="example" class="display responsive nowrap text-center" style="width:100%">
					<thead class="table-light">
						<tr>
							<th>Id</th>
							<th>Fecha</th>
							<th>Tramo horario</th>
							<th>Pista</th>
							<th>Estado</th>
							<th></th>

						</tr>
					</thead>
					<tbody>
						<tr th:each="u : ${usuario.reserva}">
							<td class="text-center" th:text="${u.id}"></td>
							<td class="text-center" name="fecha" th:text="${u.fecha}"></td>
							<td class="text-center" name="horas" th:text="${u.hora_inicio}"></td>
							<td class="text-center" th:text="${u.pista.getDeporte()} + ' - ' + ${u.pista.getNombre()}"></td>
							<td class="text-center" name="estado"></td>
							<td class="text-center">boton eliminar</td>
							</tr>
					</tbody>
				</table>
		</div>
	</div>
	<br>
	<br>
	<div th:include="confirm-delete-dialog.html" th:remove="tag"></div>
	<footer th:insert="fragments/parts::pie"></footer>
	<script type="text/javascript">
		function confirmDelete(id) {
			$('#deleteModal').modal('show');
			$("#userIdHiddenInput").val(id);
		}

		function deleteUser() {
			var id = $("#userIdHiddenInput").val();
			window.location = "/misreservas/delete?rese=" + id;
		}

		function cerrar() {
			$('#deleteModal').modal('hide');
		}
	</script>
</body>

</html>