<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<div th:replace="fragments/bootstrap::head2(title='Usuarios')" />
	<link rel="stylesheet" type="text/css" href="static/css/usuarios.css" th:href="@{/css/usuarios.css}" />
	<link rel="stylesheet" type="text/css" href="static/css/dataTable.css" th:href="@{/css/dataTable.css}" />
	<script src="/js/dataTable.js" th:href="@{/js/dataTable.js}" defer></script>
	<script src="/js/usuarios.js" th:href="@{/js/usuarios.js}" defer></script>
</head>

<body>
	<header th:insert="fragments/parts::barra2"></header>
	<div class="mx-auto col-11">
		<div class="title">
			<h1>Usuarios<span>Reserva La Pista</span></h1>
		</div>

		<!-- MENSAJES ALERT-->
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable" th:if="${edit != null}">
			<label th:text="${edit}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{../usuarios/addUsuario}"
			class="btn btn-primary btn-lg active" role="button">Añadir Usuario</a>
		<br>
		<br>
		<div class="table-responsive" id="mydatatable-container">
			<table class="records_list table table-striped table-bordered table-hover text-center" id="mydatatable">
				<thead class="table-light">
					<tr>
						<th>ID</th>
						<th>Username</th>
						<th>Nombre</th>
						<th>1er Apellido</th>
						<th>2º Apellido</th>
						<th>Email</th>
						<th>Role</th>
						<th>Fecha Nacimiento</th>
						<th>Fecha Registro</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="u : ${usuario}">
						<td th:text="${u.getId()}"></td>
						<td th:text="${u.getUsername()}"></td>
						<td th:text="${u.getNombre()}"></td>
						<td th:text="${u.getApellido1()}"></td>
						<td th:text="${u.getApellido2()}"></td>
						<td th:text="${u.getEmail()}"></td>
						<td th:text="${u.getRole()}"></td>
						<td name="fechaNac" th:text="${u.getFecha_nacimiento()}"></td>
						<td th:text="${u.getFecha_registro()}"></td>

						<td><a title="Editar" type="button" class="btn btn-success" th:href="@{'/usuarios/edit?user='+${u.getId()}}"><i
									class="fas fa-edit"></i></a></td>
						<!--<td><a type="button" class="btn btn-danger"
								th:href="@{'/usuarios/delete?user='+${u.getId()}}"><i class="far fa-trash-alt"></i></a>
						</td> -->
						
						<td><a title="Eliminar" type="button" class="btn btn-danger" href="#"
								th:onclick="'javascript:confirmDelete(\''+ ${u.id} +'\');'"><i
									class="fas fa-user-times"></i></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<br>
	<div th:include="confirm-delete-dialog.html" th:remove="tag"></div>
	<footer th:insert="fragments/parts::pie"></footer>
	<script type="text/javascript">
		function confirmDelete(id) {
			$('#deleteModal').modal('show');
			$("#userIdHiddenInput").val(id);
		}

		function deleteUser() {
			var id = $("#userIdHiddenInput").val();
			window.location = "/usuarios/delete?user=" + id;
		}

		function cerrar() {
			$('#deleteModal').modal('hide');
		}
	</script>
</body>

</html>