<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<div th:replace="fragments/bootstrap::head2(title='Todas las reservas')" />
	<link rel="stylesheet" type="text/css" href="static/css/totalReservas.css" th:href="@{/css/totalReservas.css}" />
	<script src="/js/dataTable.js" th:href="@{/js/dataTable.js}" defer></script>
	<script src="/js/reservas.js" th:href="@{/js/reservas.js}" defer></script>
</head>

<body>
	<header th:insert="fragments/parts::barra2"></header>
	<div class="mx-auto col-11">
		<div class="title">
			<h1>Reservas<span>Reserva La Pista</span></h1>
		</div>

		<!-- MENSAJES ALERT-->
		<div class="alert alert-success alert-dismissable" th:if="${success != null}">
			<label th:text="${success}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-warning alert-dismissable" th:if="${warning != null}">
			<label th:text="${warning}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		<div class="alert alert-info alert-dismissable" th:if="${edit != null}">
			<label th:text="${edit}"></label>
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>

		<a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{../reservas/addReserva}"
			class="btn btn-primary btn-lg active" role="button">Crear Reserva</a>
		<br>
		<br>
			<table id="example" class="display responsive nowrap" style="width:100%">
				<thead>
					<tr>
						<th>Id</th>
						<th>Usuario</th>
						<th>Nombre y apellidos</th>
						<th>Deporte</th>
						<th>Pista</th>
						<th>Fecha</th>
						<th>Tramo horario</th>
						<th>Estado</th>
						<th></th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="r : ${reserva}">
						<td th:text="${r.getId()}"></td>
						<td th:text="${r.usuario.getUsername()}"></td>
						<td class="nomApell"
							th:text="${r.usuario.getNombre() + ', ' + r.usuario.getApellido1() + ' ' + r.usuario.getApellido2()}">
						</td>
						<td th:text="${r.pista.getDeporte()}"></td>
						<td th:text="${r.pista.getNombre()}"></td>
						<td name="fecha" th:text="${r.getFecha()}"></td>
						<td name="horas" th:text="${r.getHora_inicio()}"></td>
						<td name="estado"></td>

						<td><a name="eliminar" title="Eliminar" type="button" class="btn btn-danger" href="#"
								th:onclick="'javascript:confirmDelete(\''+ ${r.id} +'\');'"><i
									class="bi bi-calendar-x"></i></a>
						</td>

					</tr>
				</tbody>
			</table>
		</div>
	<br>
	<br>
	<div th:include="confirm-delete-dialog.html" th:remove="tag"></div>
	<footer th:insert="fragments/parts::pie"></footer>
	<script type="text/javascript">
		function confirmDelete(id) {
			$('#deleteModal').modal('show');
			$("#userIdHiddenInput").val(id);
		}

		function deleteUser() {
			var id = $("#userIdHiddenInput").val();
			window.location = "/reservas/delete?rese=" + id;
		}

		function cerrar() {
			$('#deleteModal').modal('hide');
		}
	</script>
</body>

</html>