<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<div th:replace="fragments/bootstrap::head2(title='Todas las reservas')" />
	<link rel="stylesheet" type="text/css" href="static/css/titulo.css" th:href="@{/css/titulo.css}" />
	<link rel="stylesheet" type="text/css" href="static/css/totalReservas.css" th:href="@{/css/totalReservas.css}" />
	<script src="/js/dataTableTotalReservas.js" th:href="@{/js/dataTableTotalReservas.js}" defer></script>
	<script src="/js/reservas.js" th:href="@{/js/reservas.js}" defer></script>
</head>

<body>
	<header th:insert="fragments/parts::barra2"></header>
	<div class="mx-auto col-12">
		<div class="title">
			<h1>Reservas<span>Reserva La Pista</span></h1>
		</div>

		</div>
		
</body>

</html>