/*
.carousel-control-prev-icon, .carousel-control-next-icon, .carousel-indicators {
  filter: invert(250%);
}

 img {
  width:350px;
  height:360px;
  display:block;
  margin:auto;
  margin-bottom: 5%;
}

*/