<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='Sobre Nosotros')"></head>
<link rel="stylesheet" type="text/css" href="static/css/sobrenosotros.css" th:href="@{/css/sobrenosotros.css}">

<body>
	<header th:insert="fragments/parts::barra"></header>
	<div class="frow">
		<div class="col col1">
			<img src="../img/favicon.png" />
		</div>
		<div class="col col2">
			<h2>Reserva La Pista</h2>
			<p><u>ReservaLaPista</u> es una aplicación web creada por y para los deportistas que buscan pistas para
				desarrollar
				su
				deporte favorito.
			</p>
			<p>Nuestro propósito es que nuestros usuarios, conectados a nuestra web, le sea fácil e intuitivo poder
				alquilar
				un espacio deportivo con un simple click. </p>
			<p>Surgimos de una idea para el Proyecto Final de Grado Superior "Desarrollo de Aplicaciones Web" del alumno
				Sebastián Bermúdez Herrera para el instituto IES ALIXAR - Castilleja de la Cuesta(Sevilla).</p>
		</div>

	</div>

	<br>
	<br>
	<footer th:insert="fragments/parts::pie"></footer>

</body>

</html>