<!-- ---------------------------------------------------- -->
<!-- BARRA HEADER -->
<header th:fragment="barra">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/menu}">ReservaLaPista</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a sec:authorize="hasRole('ROLE_ADMIN')" style="margin-right:2%;"
				class="text-danger font-weight-bold">ADMIN</a>
			<br>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-clock text-white" style="margin-right:0.5%;" viewBox="0 0 16 16">
				<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
			</svg>
			<a class=" text-white" id="HoraActual"></a>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/menu}">Inicio</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/reservar}">Reserva de Espacio</a>
				</li>
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span th:text="${user.getNombre()}" /> <span th:text="${user.getApellido1()}" /> <span
							th:text="${user.getApellido2()}" />
					</a>

					<div class="dropdown-menu bg-dark dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light" th:href="@{/misreservas}">Mis Reservas</a>
						<a class="dropdown-item text-light" th:href="@{/ajustes}">Ajustes</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/usuarios}">Usuarios</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/pistas}">Pistas</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/reservas}">Reservas</a>
						<div class="dropdown-divider bg-dark"></div>

						<a class="dropdown-item text-light" th:href="@{/logout}">Cerrar Sesión</a>
				</li>
		</div>
		</li>
		</ul>
		</div>
	</nav>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Hora actual -->
	<script type="text/javascript">
		showTime();
		function showTime() {
			myDate = new Date();
			hours = myDate.getHours();
			minutes = myDate.getMinutes();
			seconds = myDate.getSeconds();
			if (hours < 10) hours = 0 + hours;

			if (minutes < 10) minutes = "0" + minutes;

			if (seconds < 10) seconds = "0" + seconds;

			$("#HoraActual").text(hours + ":" + minutes);
			setTimeout("showTime()", 1000);
		}
	</script>
</header>


<!-- ---------------------------------------------------- -->
<!-- HEADER PARA LAS PAGINAS CON DATA_TABLE (Hay conflicto por los script de bootstrap) -->
<header th:fragment="barra2">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/menu}">ReservaLaPista</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a sec:authorize="hasRole('ROLE_ADMIN')" style="margin-right:2%;"
				class="text-danger font-weight-bold">ADMIN</a>
			<br>
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-clock text-white" style="margin-right:0.5%;" viewBox="0 0 16 16">
				<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
			</svg>
			<a class=" text-white" id="HoraActual"></a>

			<ul class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/menu}">Inicio</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/reservar}">Reserva de Espacio</a>
				</li>
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span th:text="${user.getNombre()}" /> <span th:text="${user.getApellido1()}" /> <span
							th:text="${user.getApellido2()}" />
					</a>

					<div class="dropdown-menu bg-dark dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light" th:href="@{/misreservas}">Mis Reservas</a>
						<a class="dropdown-item text-light" th:href="@{/ajustes}">Ajustes</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/usuarios}">Usuarios</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/pistas}">Pistas</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/reservas}">Reservas</a>
						<div class="dropdown-divider bg-dark"></div>

						<a class="dropdown-item text-light" th:href="@{/logout}">Cerrar Sesión</a>
				</li>
		</div>
		</li>
		</ul>
		</div>
	</nav>
	<!-- Hora actual -->
	<script type="text/javascript">
		showTime();
		function showTime() {
			myDate = new Date();
			hours = myDate.getHours();
			minutes = myDate.getMinutes();
			seconds = myDate.getSeconds();
			if (hours < 10) hours = 0 + hours;

			if (minutes < 10) minutes = "0" + minutes;

			if (seconds < 10) seconds = "0" + seconds;

			$("#HoraActual").text(hours + ":" + minutes);
			setTimeout("showTime()", 1000);
		}
	</script>
</header>


<!-- ---------------------------------------------------- -->
<!-- FOOTER -->
<footer th:fragment="pie">
	<!--Ionicons-->
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<!--Google Fonts-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="static/css/footer.css" th:href="@{/css/footer.css}">
	<ul class="icons">
		<li><a href="https://www.instagram.com/reservalapista" target="_blank">
				<ion-icon name="logo-instagram"></ion-icon>
			</a></li>
		<li><a href="https://es-es.facebook.com" target="_blank">
				<ion-icon name="logo-facebook"></ion-icon>
			</a></li>
		<li><a href="https://es.linkedin.com/" target="_blank">
				<ion-icon name="logo-linkedin"></ion-icon>
			</a></li>
	</ul>
	<ul class="menu">
		<li><a th:href="@{/menu}">Inicio</a></li>
		<li><a th:href="@{/sobrenosotros}">Sobre nosotros</a></li>
		<li><a th:href="@{/horarios}">Horarios</a></li>
		<li><a th:href="@{/ubicacion}">Ubicación</a></li>
		<li><a href="#">Contacto</a></li>
		<li><a th:href="@{/logout}">Cerrar Sesión</a></li>

	</ul>
	<div class="footer-copyright">
		<p>Copyright @SebastiánBermúdezHerrera-2022 Todos los derechos reservados.</p>
	</div>
</footer>


<!-- ---------------------------------------------------- -->
<!-- BARRA HEADER LOGIN -->
<header th:fragment="barraLogin">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/menu}">ReservaLaPista</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<a sec:authorize="hasRole('ROLE_ADMIN')" style="margin-right:2%;"
				class="text-danger font-weight-bold">ADMIN</a>
			<br>
			<svg sec:authorize="isAuthenticated()" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
				class="bi bi-clock text-white" style="margin-right:0.5%;" viewBox="0 0 16 16">
				<path d="M8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z" />
				<path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm7-8A7 7 0 1 1 1 8a7 7 0 0 1 14 0z" />
			</svg>
			<a sec:authorize="isAuthenticated()" class=" text-white" id="HoraActual"></a>

			<ul sec:authorize="isAuthenticated()" class="navbar-nav ml-auto">
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/menu}">Inicio</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" th:href="@{/reservar}">Reserva de Espacio</a>
				</li>
				<li class="nav-item active dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span th:text="${user.getNombre()}" /> <span th:text="${user.getApellido1()}" /> <span
							th:text="${user.getApellido2()}" />
					</a>

					<div class="dropdown-menu bg-dark dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a class="dropdown-item text-light" th:href="@{/misreservas}">Mis Reservas</a>
						<a class="dropdown-item text-light" th:href="@{/ajustes}">Ajustes</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/usuarios}">Usuarios</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/pistas}">Pistas</a>
						<a sec:authorize="hasRole('ROLE_ADMIN')" class="dropdown-item text-light"
							th:href="@{/reservas}">Reservas</a>
						<div class="dropdown-divider bg-dark"></div>

						<a class="dropdown-item text-light" th:href="@{/logout}">Cerrar Sesión</a>
				</li>
		</div>
		</li>
		</ul>
		</div>
	</nav>

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	<!-- Hora actual -->
	<script type="text/javascript">
		showTime();
		function showTime() {
			myDate = new Date();
			hours = myDate.getHours();
			minutes = myDate.getMinutes();
			seconds = myDate.getSeconds();
			if (hours < 10) hours = 0 + hours;

			if (minutes < 10) minutes = "0" + minutes;

			if (seconds < 10) seconds = "0" + seconds;

			$("#HoraActual").text(hours + ":" + minutes);
			setTimeout("showTime()", 1000);
		}
	</script>
</header>