<!DOCTYPE html>
<html>
<head th:replace="fragments/bootstrap::head(title='Registrase')"></head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-6">
				<form th:action="@{/register}" method="post" th:object="${userDTO}">
					
					<label for="username" class="form-label mt-3">Username</label>
					<input type="text" class="form-control" id="username" name="username"
						th:field="*{username}" required>
						
					<label for="password" class="form-label mt-3">Contraseña</label>
					<input type="password" class="form-control" id="password" name="password"
						th:field="*{password}" required>
						
					<label for="email" class="form-label mt-3">Email</label>
					<input type="email" class="form-control" id="email" name="email"
						th:field="*{email}" required>
					
					<label for="nombre" class="form-label mt-3">Nombre</label>
					<input type="text" class="form-control" id="nombre" name="nombre"
						th:field="*{nombre}" required>
						
					<label for="apellido1" class="form-label mt-3">Apellido1</label>
					<input type="text" class="form-control" id="apellido1" name="apellido1"
						th:field="*{apellido1}" required>
						
					<label for="apellido2" class="form-label mt-3">Apellido2</label>
					<input type="text" class="form-control" id="apellido2" name="apellido2"
						th:field="*{apellido2}" required>
						
					<label for="nif" class="form-label mt-3">DNI</label>
					<input type="text" class="form-control" id="nif" name="nif"
						th:field="*{nif}" required>	
						
					<label for="fecha_nacimiento" class="form-label mt-3">Fecha Nacimiento</label>
					<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"
						th:field="*{fecha_nacimiento}" required>
						
					<label for="sexo" class="form-label mt-3">Sexo</label>
					<select class="form-select" id="sexo" name="sexo" th:field="*{sexo}">
						<option value="Hombre">Hombre</option>
						<option value="Mujer">Mujer</option>
					</select>
					
					<label for="telefono" class="form-label mt-3">Telefono</label>
					<input type="tel" pattern="[0-9]{3}[0-9]{2}[0-9]{2}[0-9]{2}" class="form-control" id="telefono" name="telefono"
						th:field="*{telefono}" required>
					
					<label for="localidad" class="form-label mt-3">Localidad</label>
					<input type="text" class="form-control" id="localidad" name="localidad"
						th:field="*{localidad}" required>
					
					<label for="provincia" class="form-label mt-3">Provincia</label>
					<input type="text" class="form-control" id="provincia" name="provincia"
						th:field="*{provincia}" required>
										
					
					<!-- <label for="role" class="form-label mt-3">Role</label>
					<select class="form-select" id="role" name="role" th:field="*{role}">
						<option value="ROLE_USER">ROLE_USER</option>
  						<option value="ROLE_ADMIN">ROLE_ADMIN</option>
					</select> -->
					
								
											
					<h4 class="text-danger" th:if="${error!=null}" th:text="${'Usuario o email existente'}"></h4>	
					
					<input type="submit" class="btn btn-primary w-100 mt-3" value="REGISTRAR" />	
				</form>
			</div>		
		</div>
	</div>
</body>
</html>