<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head(title='Ajustes')"></head>

<body>
	<header th:insert="fragments/parts::barra2"></header>
	<br>
	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link btn btn-primary btn-sm active" aria-current="page" th:href="@{/ajustes}"
				role="button">Mis Datos</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/ajustes/cambiarPassw}">Cambiar Contraseña</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" th:href="@{/ajustes/cuenta}">Eliminar Cuenta</a>
		</li>
	</ul>

	<br>

	<div class="col-md-6 col-sm-12 mx-auto">

		<div class="container">
			<div class="row">
				<p class="text-center col-md-6 mt-3">Id: <span th:text="${usuario.getId()}" /> </p>
				<p class="text-center col-md-6 mt-3">Usuario: <span th:text="${usuario.getUsername()}" /> </p>
				<p class="text-center col-md-6 mt-3">Email: <span th:text="${usuario.getEmail()}" /> </p>
				<p class="text-center col-md-6 mt-3">Role: <span th:text="${usuario.getRole()}" /> </p>
				<p class="text-center col-md-6 mt-3">DNI: <span th:text="${usuario.getNif()}" /> </p>
				<p class="text-center col-md-6 mt-3">Fecha de Registro: <span
						th:text="${usuario.getFecha_registro()}" />
				</p>
			</div>
		</div>

		<form th:action="@{/ajustes}" method="post" th:object="${usuario}">

			<div class="container">
				<div class="row">
					<!-- MENSAJES ALERT-->
					<div class="alert alert-info alert-dismissable" th:if="${edit != null}">
						<label th:text="${edit}"></label>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>
					<div class="alert alert-danger alert-dismissable" th:if="${warning != null}">
						<label th:text="${warning}"></label>
						<button type="button" class="close" data-dismiss="alert">&times;</button>
					</div>

					<input readonly style="display: none !important;" type="text" class="form-control" id="id" name="id"
						th:field="*{id}">
					<div class="col-md-6 col-9 mx-auto">
						<label for="nombre" class="form-label mt-3">Nombre</label>
						<input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="apellido1" class="form-label mt-3">Primer apellido</label>
						<input type="text" class="form-control" id="apellido1" name="apellido1" th:field="*{apellido1}"
							required>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="apellido2" class="form-label mt-3">Segundo apellido</label>
						<input type="text" class="form-control" id="apellido2" name="apellido2" th:field="*{apellido2}"
							required>
					</div>

					<input readonly style="display: none !important;" type="text" class="form-control" id="username"
						name="username" th:field="*{username}" required>

					<input readonly style="display: none !important;" type="text" class="form-control" id="password"
						name="password" th:field="*{password}" required>

					<input readonly style="display: none !important;" type="email" class="form-control" id="email"
						name="email" th:field="*{email}" required>

					<select readonly style="display: none !important;" class="form-select" id="role" name="role"
						th:field="*{role}">
						<option value="ROLE_USER">ROLE_USER</option>
						<option value="ROLE_ADMIN">ROLE_ADMIN</option>
					</select>

					<input readonly style="display: none !important;" type="text" pattern="[0-9]{8}[A-Za-z]{1}"
						title="Debe poner 8 números y una letra" class="form-control" id="nif" name="nif"
						th:field="*{nif}" required>

					<div class="col-md-6 col-9 mx-auto">
						<label for="localidad" class="form-label mt-3">Localidad</label>
						<input type="text" class="form-control" id="localidad" name="localidad" th:field="*{localidad}"
							required>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="provincia" class="form-label mt-3">Provincia</label>
						<input type="text" class="form-control" id="provincia" name="provincia" th:field="*{provincia}"
							required>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="telefono" class="form-label mt-3">Telefono</label>
						<input type="tel" pattern="[0-9]{9}" title="Debe poner 9 digitos" class="form-control"
							id="telefono" name="telefono" th:field="*{telefono}" required>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="sexo" class="form-label mt-3">Sexo</label>
						<select class="form-select" id="sexo" name="sexo" th:field="*{sexo}">
							<option value="Hombre">Hombre</option>
							<option value="Mujer">Mujer</option>
						</select>
					</div>
					<div class="col-md-6 col-9 mx-auto">
						<label for="fecha_nacimiento" class="form-label mt-3">Fecha de nacimiento</label>
						<input type="date" class="form-control" id="fecha_nacimiento" name="fecha_nacimiento"
							th:field="*{fecha_nacimiento}" required>
					</div>
					<input readonly style="display: none !important;" type="text" class="form-control"
						id="fecha_registro" name="fecha_registro" th:field="*{fecha_registro}">

					<div class="col-9 col-md-4  mx-auto">
						<input type="submit" class="btn btn-dark w-100 mt-3" value="GUARDAR" />
					</div>
				</div>
			</div>
		</form>
	</div>

	<br>
	<br>
	<footer th:insert="fragments/parts::pie"></footer>

</body>

</html>