input[type=radio] {
  width: 100%; 
  height: 2em;
  opacity: 0;
  cursor: pointer;
}

.radio-group div {  
  width: 100px;
  display: inline-block;
  border: 2px solid #AEABAE;
  border-radius: 5px;
  text-align: center;
  position:relative;
  margin-top: 1%;
}

.radio-group label {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 2em;
  pointer-events: none;
  }

.radio-group input[type=radio]:checked + label {
  background: #85EA8E;
  color: #fff;
}

.horas{
	margin-left: 3%;
}

@media screen and (max-width: 600px) {
	  .horas{
	margin-left: 8% !important;
}
}


