<!DOCTYPE html>
<html>

<head th:replace="fragments/bootstrap::head2(title='Menu')"></head>
<link rel="stylesheet" type="text/css" href="static/css/menu.css" th:href="@{/css/menu.css}">

<body>
	<header th:insert="fragments/parts::barra2"></header>

	<div class="login-page">
		<div class="form">
			<h6>Bienvenido/a <b><span th:text="${user.getUsername()}" /></b></h6>
			<br>
			<p>Desde ReservaLaPista le damos las gracias por usar nuestros
				servicios.</p>

			<a th:href="@{/reservar}">Ir a Reservar Espacio</a>
		</div>
	</div>
	<footer th:insert="fragments/parts::pie"></footer>
</body>

</html>