<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Menu</title>
	<link rel="stylesheet" type="text/css" href="static/css/menu.css" th:href="@{/css/menu.css}">
</head>

<body>
	<header th:insert="fragments/parts::barra"></header>

	<div class="login-page">
		<div class="form">
			<h6>Bienvenido/a <b><span th:text="${user.getUsername()}" /></b></h6>
			<br>
			<p>Desde ReservaLaPista le damos las gracias por usar nuestros
				servicios.</p>

			<a th:href="@{/reservar}">Ir a Reservar Espacio</a>
		</div>
	</div>
	<footer th:insert="fragments/parts::pie"></footer>
</body>

</html>