<!DOCTYPE html>
<html>
   <head th:replace="fragments/bootstrap::head2(title='ReservaLaPista')"></head>
   <link rel="stylesheet" type="text/css" href="static/css/index.css" th:href="@{/css/index.css}">
   <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
   <script src="/js/login.js" defer></script>
   <body>
   <header th:insert="fragments/parts::barraLogin"></header>
      <div class="login-page">
         <div class="form">
            <form class="register-form"  th:action="@{/register}" method="post" th:object="${userDTO}">
               <input type="text" class="form-control" id="username" name="username" th:field="*{username}" required placeholder="Usuario">
               <h6 class="text-danger" th:if="${errorUsername!=null}" th:text="${'Usuario no disponible.'}"></h6>
               <input type="password" class="form-control" id="password" name="password" th:field="*{password}" required placeholder="Contraseña">
               <h6 class="text-danger" th:if="${errorPassword!=null}" th:text="${'La contraseña tiene que tener mínimo 5 caracteres.'}"></h6>
               <input type="email" class="form-control" id="email" name="email" th:field="*{email}" required placeholder="Email">
               <h6 class="text-danger" th:if="${errorEmail!=null}" th:text="${'Este email ya esta registrado.'}"></h6>
               <input type="text" class="form-control" id="nombre" name="nombre" th:field="*{nombre}" required placeholder="Nombre">
               <input type="text" class="form-control" id="apellido1" name="apellido1" th:field="*{apellido1}" required placeholder="Primer Apellido">
               <input type="text" class="form-control" id="apellido2" name="apellido2" th:field="*{apellido2}" required placeholder="Segundo Apellido">
               <input type="text" pattern="[0-9]{8}[A-Za-z]{1}" class="form-control" id="nif" name="nif" th:field="*{nif}" required placeholder="DNI">	
               <h6 class="text-danger" th:if="${errorDNI!=null}" th:text="${'Ya existe una cuenta con este DNI.'}"></h6>
               <label class="fechaNam">Fecha de nacimiento</label>
               <input type="date" class="form-control date" id="fecha_nacimiento" name="fecha_nacimiento" th:field="*{fecha_nacimiento}" required placeholder="Fecha Nacimiento">
               <select id="sexo" name="sexo" th:field="*{sexo}">
                  <option value="" hidden selected>Sexo</option>
                  <option value="Hombre">Hombre</option>
                  <option value="Mujer">Mujer</option>
               </select>
               <input type="tel" pattern="[0-9]{3}[0-9]{2}[0-9]{2}[0-9]{2}" class="form-control" id="telefono" name="telefono" th:field="*{telefono}" required placeholder="Telefono">
               <input type="text" class="form-control" id="localidad" name="localidad" th:field="*{localidad}" required placeholder="Localidad">
               <input type="text" class="form-control" id="provincia" name="provincia" th:field="*{provincia}" required placeholder="Provincia">
               <button>REGISTRAR</button>
               <p class="message">¿Estás registrado? <a href="/">Iniciar Sesión</a></p>
            </form>
         </div>
      </div>
   </body>
</html>